table{
    margin:auto;
    border-collapse:collapse;
    }
th{
    text-align:left;
    width:100px;
    background-color: burlywood;
    font-size: medium;
    height: 50px;
}
#productTable{
    margin-top:150px;
}
caption{
    font-size:x-large;
    text-align:left;
}
